Assets/Chess[[:space:]]Set/Chess[[:space:]]Set.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Chess[[:space:]]Set/*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Chess[[:space:]]Set/*.png filter=lfs diff=lfs merge=lfs -text
Assets/Chess[[:space:]]Set/Textures/*.png filter=lfs diff=lfs merge=lfs -text
Assets/Chess[[:space:]]Set/Chess[[:space:]]Set.fbx filter=lfs diff=lfs merge=lfs -text
ls filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
